* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.country-list__item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.country-list__flag,
.country-info__flag {
  border: 1px solid rgb(175, 175, 175);
}

.country-info__list {
  margin-top: 10px;
  margin-left: 31px;
}

.country-info__list :not(:last-child) {
  margin-bottom: 10px;
}

.country-info__title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-box {
  position: relative;

  display: inline-block;
  margin-bottom: 16px;
}

#search-box {
  font: inherit;
  padding: 8px;
  padding-right: 25px;
  width: 250px;
}

#search-box:placeholder-shown ~ .clear-input {
  display: none;
}

.clear-input {
  position: absolute;
  right: 5px;
  top: 50%;

  display: block;
  font-size: 22px;
  color: #a7a7a7;
  line-height: 0;

  background-color: transparent;
  border-style: none;
  cursor: pointer;

  transition: color ease-out 250ms;
}

.clear-input:hover {
  color: #212121;
}
